body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante controle consistente de espaçamentos */
  }

  #navBar {
    display: flex;
    align-items: center;
    background-color: #0f0f0f; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para o navbar */
    width: 100vw;
    height: 7vh;
    
  }
  
  /* Estilo da imagem */
  #navBar img {
    width: 50px; /* Ajusta o tamanho da imagem */
    height: auto; /* Mantém as proporções */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
  }
  
  /* Estilo do título */
  #navBar h1 {
    font-size: 30px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    color: #ffffff; /* Cor branca */
    margin: 0; /* Remove margens padrão */
    font-family: 'Arial', sans-serif; /* Fonte personalizada */
  }
  